<navbar></navbar>
<div class="mapContainer" layout="row" ng-controller="ProjectsController as projects">
    <!-- SIDE NAVIGATION -->
    <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2" id="results-sidebar-left" flex>
        <div class="search-components">
            <div layout="row">
                <div class="location" flex>
                    <md-input-container md-no-float class="md-block">
                        <label>Radius</label>
                        <md-select ng-model="results.search.radius">
                            <md-option>1</md-option>
                            <md-option>2</md-option>
                            <md-option>3</md-option>
                            <md-option>5</md-option>
                            <md-option>10</md-option>
                            <md-option>15</md-option>
                            <md-option>20</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </div>
        <!-- RESULTS -->
        <!-- RENDERS PHOTOS FROM MAIN PAGE SEARCH -->
        <!--   <div id="photos" layout="column" layout-align="center" ng-controller="PhotoDialogCtrl">
      <div class="thumbnail" ng-repeat="photo in $root.photos" photo="photo" flex>
        <p>{{photo['title']}}</p>
        <img src={{photo['url_s']}} ng-click="showDialog($event, photo)">
      </div>
    </div> -->
        <br/>
        <br/>
        <div layout="row">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="glyphicon glyphicon-tree-conifer"></i> My Projects</div>
                    <div class="panel-body">
                        <div id='tree' js-tree="projects.treeConfig" should-apply="projects.applyModelChanges()" ng-model="projects.treeData" tree="treeInstance" tree-events="ready:projects.readyCB;create_node:projects.createCB;select_node:projects.selectCB" ng-init="projects.getProjects()"></div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div div layout="column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-plus"></i> Add Node</div>
                <div class="panel-body">
                    <!-- Create New Nodes -->
                    <form class="form-horizontal" novalidate name="newNodeForm" role="form">
                        <div class="form-group">
                            <label for="addNode" flex=33 class="control-label">Node Text:</label>
                            <div flex=33 ng-class="{ 'has-error' : newNodeForm.addNode.$invalid}">
                                <input type="text" class="form-control" id="addNode" ng-model="projects.newNode.text" name="addNode" placeholder="Node Text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nodeParent" flex=33 class="control-label">Node Parent:</label>
                            <div flex=33 ng-class="{ 'has-error' : newNodeForm.nodeParent.$invalid}">
                                <select class="form-control" id="nodeParent" name="nodeParent" ng-model="projects.newNode.parent" required>
                                    <option ng-repeat="node in projects.treeData" value="{{node.id}}">{{node.text}}[{{node.id}}]</option>
                                </select>
                            </div>
                        </div>
                        <div class="column">
                            <div flex=33>
                                <div class="pull-right">
                                    <md-button type="button" ng-disabled="newNodeForm.$invalid" ng-click="projects.addNewNode()" >Add Node</md-button>
                                    <!-- class="btn btn-success" -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </md-sidenav>
   <!--  <div id="photos" layout="row" layout-align="center" ng-controller="PhotoDialogCtrl" ng-cloak>
        <div class="thumbnail" ng-repeat="photo in $root.photos" photo="photo" flex>
            <md-card id=photo-card-{{photo.id}} class="results-photo" ng-click="showDialog($event, photo)" ng-mouseenter="results.onMouseEnter($event, photo)" ng-mouseleave="results.onMouseLeave($event, photo)" flex>
                <p class="thumbnail-description">{{photo.title}}</p>
                <img src={{photo.url_s}}>
            </md-card>
        </div>
    </div> -->
</div>


